
/* 768 X 1024 */
/* 768 X 1024 */
/* 768 X 1024 */
/* 768 X 1024 */
/* 768 X 1024 */

@media all and (max-width: 768px) {
	/* .target::before, .backgr2::before {
	top: -10vh;}
		.target::before {
		background-size: auto  47%;}
	.backgr2::before {
		background-size: auto 120%;} */

	body {top: -10vh;}

	 .star3, .star4, .cloud_3, .cloud_4 {
	 display: none;}
	/*	.star3 {
		transform: rotate(9deg);
		z-index: 3;}
	 .star3::before {
		 background-size: auto 82%;} */

	.cloud_right::before, .cloud_left::before {
 	 background-size: auto 38%;}

	.container, .window_form, .container, .btn1, {
		display: none;}

	.window_1, .window_2 {
		display: block;}

 		.cloud_left::before {
		top: 10vh;}

		.backgr_stars::before {
 			background-size: auto 70%; }

	 .backgr_stars2::before, .backgr_stars3::before {
			background-size: auto 50%; }

}

/*ПРОЧЕЕ*/

@media all and (max-width: 672px) {
		  .star2::before {background-size: auto 60%;}
}


@media all and (max-width: 420px) {
		  .star2::before {background-size: auto 60%;}
}

/*ПРОЧЕЕ*/

/* @media all and (max-width: 375px) and (min-width: 320px) {
		  .star2::before {background-size: auto 50%;}
} */

/* IPHONE */
/* IPHONE */
/* IPHONE */
/* IPHONE */
/* IPHONE */

@media all and (max-width: 320px) {
	 .star3, .star4, .cloud_3, .cloud_4 {
		display: none;	}

		.star2::before {
			background-size: auto 65%;
		}

 .cloud_right::before, .cloud_left::before {
	 background-size: auto 40% ; }

		.btn1 {display: none;}

		.backgr_stars::before {background-size: auto 50% ;}

		 .target::before {
			background-size: auto 50%;}

			.backgr2::before {
 			background-size: auto 120%;}

}
